/.idea
/.metadata
/.recommenders
/DarkDungeon4J/.settings
/DarkDungeon4J-Adventure/.settings
/DarkDungeon4J-Adventure/target
/DarkDungeon4J-Loader/.settings
/DarkDungeon4J-Loader/target
/DarkDungeon4J-Generator/.settings
/DarkDungeon4J-Generator/result
/DarkDungeon4J-Agents/.settings
/NPlan
/PDDL
